@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: Open Sans, Helvetica, sans-serif, Arial;
    background-color: #ffffff;
  }

  ul {
    list-style-type: none;
    }

  a {
    outline: none;
    text-decoration: none !important;
  }
  
  a:link {
    color: #000;
  }
  
  a:visited {
    color: #000;
  }
  
  a:hover {
    color: #21005D;
  }

  /* .button {
    z-index: 100 !important;
  } */

h1 {
  font-weight: 700;
  padding-bottom: 24px;
  z-index: 100;
}

h4 {
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #F6EDFF;
  }

.logo {
  width: 161px;
  margin-left: 2.5rem;
}
    
.horizontal-nav {
  padding: 1rem 2rem;
}
    
.horizontal-nav a {
  display: inline-flex;
  align-items: center;
  height: 80px;
  padding: 0 0.8rem;
  font-weight: 500;
  color: inherit;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  transition: 0.15s ease;
}
    
.horizontal-nav a:hover,
.horizontal-nav a:focus,
.horizontal-nav a:active {
  text-decoration: none;
  color: #6750A4;
  border-bottom-color: #6750A4;
}

.hero-title {
  font-weight: 700;
  line-height: 70px;
  font-size: 70px;
  color: #000;
}

.hero-content {
  width: 50%;
}
  
.hero {
  height: 420px;
  position: relative;
  background-color: #F6EDFF;
}
  
.hero .content {
  position: absolute;
  color: #322F35;
  left: 40%;
  transform: translate(-50%, -50%);
  top: 50%;
}
  
.hero a {
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

.home-hero {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/home-hero.png");
  background-size: 482px;
  background-repeat: no-repeat;
  background-position: 80% 100%;
}

  /* Rainbow Donate Button */
.b-pink, .b-pink:before {
  background: rgba(231,72,234,1);
  background: -moz-linear-gradient(45deg, rgba(231,72,234,1) 0%, rgba(75,26,188,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(231,72,234,1)), color-stop(100%, rgba(75,26,188,1)));
  background: -webkit-linear-gradient(45deg, rgba(231,72,234,1) 0%, rgba(75,26,188,1) 100%);
  background: -o-linear-gradient(45deg, rgba(231,72,234,1) 0%, rgba(75,26,188,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(231,72,234,1) 0%, rgba(75,26,188,1) 100%);
  background: linear-gradient(45deg, rgba(231,72,234,1) 0%, rgba(75,26,188,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e748ea', endColorstr='#4b1abc', GradientType=1 );
}

.btn-donate {
  margin: 16px;
  padding-left: 16px;
  padding-right: 16px;
  height: 38px;
  border-radius: 40px;
  transition: all .5s;
  filter: hue-rotate(0deg);
  color: #FFF;
  text-decoration: none;
}

.rot-360-noscoop:hover {
  filter: hue-rotate(360deg);
  transform: rotate(360deg);
}
.rot-135:hover {
  filter: hue-rotate(135deg);
}
.rot-90:hover {
  filter: hue-rotate(90deg);
}

.card {
  border: none;
  padding-bottom: 36px;
  padding-top: 16px;
}

.image-event {
width: 530px;
}

.program {
  margin-top: 120px;
}

.btn-view-all {
  text-align: right;
}

.btn-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin-top: 46px;
}

.btn-link:hover {
  text-decoration: none;
  color: #6750A4;
  font-weight: 500;
}

.btn-more {
  font-size: 14px;
  padding-left: 24px;
  padding-right: 24px;
  height: 48px;
  border-radius: 40px;
  border: 1px solid #79747E;
  color: #6750A4;
}

.btn-more:hover {
  background-color: #6750A4;
  color: #ffffff;
  border: 1px solid #79747E;
}

.resources {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #F6EDFF;
  height: 724px;
}

.resources-content {
  width: 50%;
  text-align: center;
  z-index: 100;
}

.resources-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources-title {
padding-top: 80px;
}

.resources-bg {
  margin: 0;
  padding: 0;
  position: absolute;
  /* top: 0; */
  left: 0;
  /* bottom: 0; */
  width: 100%;
  height: 100%;
  background-image: url(../images/home-bg-resources.png);
  background-size: 322px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.involved {
  height: 600px;
  margin-top: 120px;
}

.contact {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #F6EDFF;
  height: 358px;
}

.contact-bg {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/contact-bg.png);
  background-size: 421px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.card-bg {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
}

.card-title-photo {
  z-index: 100;
  margin-top: -60px;
  color: #ffffff;
}

.card-img-top{
  width: 20%x;
}

.btn-filled {
  font-size: 14px;
  padding-left: 36px;
  padding-right: 36px;
  height: 48px;
  border-radius: 40px;
  border: 1px solid #79747E;
  background-color: #6750A4;
  color: #FFF;
}

.btn-filled:hover {
  font-size: 14px;
  padding-left: 36px;
  padding-right: 36px;
  height: 48px;
  border-radius: 40px;
  border: 1px solid #79747E;
  background-color: #7F67BE;
  color: #FFF;
}

.trust {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #fff;
  height: 540px;
}

.card-logo {
  width: 50%;
  padding-bottom: 36px;
  padding-top: 36px;
}

.card-logo-middle {
  width: 25%;
  padding-bottom: 36px;
  padding-top: 36px;
}

.footer {
  background-color: #21005D;
  height: 300px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}